<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjedu.classFeeManagementSystemBackend.mapper.ClassadminMapper">

    <resultMap id="BaseResultMap" type="com.zjedu.classFeeManagementSystemBackend.model.domain.Classadmin">
            <id property="userId" column="userId" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,username,password
    </sql>
</mapper>
